<mat-card style="margin: auto; top:2rem; height:90vh; width: 95vw;">
  <mat-card-header style="border-bottom: 1px solid black;">
    <mat-card-title>Pokédex</mat-card-title>


    <mat-divider></mat-divider>
  </mat-card-header>
  <mat-card-content style="height: 100%;max-height: 100%; overflow: hidden;">

    <mat-drawer-container style="height: 100%;">

      <mat-drawer-content>
        <app-pokemon-list></app-pokemon-list>
      </mat-drawer-content>

      <mat-drawer #drawerleft position="start"  style="width:45vw;" mode="over">
          <app-pokemon-preview></app-pokemon-preview>
      </mat-drawer>

      <mat-drawer #drawer
      style="width:45vw;"
                  mode="over"
                  position="end"
                  >
                  <app-pokemon-details></app-pokemon-details>
      </mat-drawer>

    </mat-drawer-container>

  </mat-card-content>
</mat-card>
