<app-pokemon-details-presentational [card]="(currentCard$ | async) || null"

                                    [types]="(types$ | async) || [] "
                                    [subTypes]="(subTypes$ | async) || [] "
                                    [superTypes]="(superTypes$ | async) || []"
                                    (cardUpdateEvent)="onCardUpdate($event)"
                                    (closeEvent)="onPokemonDetailsClose()"></app-pokemon-details-presentational>
                                    <!-- [similarCards]="(similarCards$ | async) || []" -->
