<table mat-table
       [dataSource]="dataSource.data">

  <ng-container matColumnDef="name">
    <th mat-header-cell
        *matHeaderCellDef> Name </th>
    <td mat-cell
        *matCellDef="let pokemon"> {{pokemon.name}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell
        *matHeaderCellDef> Id </th>
    <td mat-cell
        *matCellDef="let pokemon"> {{pokemon.id}} </td>
  </ng-container>

  <ng-container matColumnDef="supertype">
    <th mat-header-cell
        *matHeaderCellDef> supertype </th>
    <td mat-cell
        *matCellDef="let pokemon"> {{pokemon.supertype}} </td>
  </ng-container>

  <ng-container matColumnDef="types">
    <th mat-header-cell
        *matHeaderCellDef> type </th>
    <td mat-cell
        *matCellDef="let pokemon"> {{pokemon.types}} </td>
  </ng-container>

  <ng-container matColumnDef="subtypes">
    <th mat-header-cell
        *matHeaderCellDef> subtypes </th>
    <td mat-cell
        *matCellDef="let pokemon"> {{pokemon.subtypes}} </td>
  </ng-container>


  <tr mat-header-row
      *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  <tr mat-row (click)="rowClickEvent.next(i)" style="cursor: pointer;"
      *matRowDef="let myRowData; columns: displayedColumns; let i = index;"></tr>

</table>
<mat-paginator [length]="dataSource.totalCount"
               [pageIndex]="dataSource.page-1"
               [pageSize]="10"
               (page)="paginationData.next($event)"
               aria-label="Select page"></mat-paginator>
